* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Serif Pro", serif;
}
.bg {
  position: absolute;
  left: -50%;
  width: 100vw;
  height: 100vh;
  border-radius: 20em;
  background: linear-gradient(
    214.15deg,
    rgba(249, 192, 78, 0.25) 2.49%,
    rgba(253, 233, 219, 0.25) 99.36%
  );
}
header {
  position: absolute;
  top: 0;
  width: 90vw;
  margin: 0 5em;
}
nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  width: 60vw;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: rgb(128, 127, 127);
  font-size: 1.5rem;
}
.logo {
  font-family: "Open Sans", sans-serif;
  color: rgb(92, 91, 91);
  font-size: 2rem;
  font-weight: bolder;
}
.logIn {
  padding: .1em 2em;
  border-radius: 2em;
  background: linear-gradient(273.26deg, #ffcc66 6.37%, #fd9c5b 98.75%);
}
.tagLine {
  position: absolute;
  left: 50%;
  top: 15%;
  font-size: 2.5rem;
  margin: 0 2em;
}
.tagLine2 {
  margin: 0 1.5em;
  font-family: "Open Sans", sans-serif;
  position: absolute;
  left: 50%;
  top: 35%;
  font-size: 3.5rem;
  font-weight: bolder;
  background: linear-gradient(273.26deg, #ffcc66 6.37%, #fd9c5b 98.75%);
  color: transparent;
  -webkit-background-clip: text;
}
.timePeriod {
  margin: 0 4em;
  position: absolute;
  left: 50%;
  top: 65%;
  font-size: 1.4rem;
}
.childrenImageDiv {
  position: absolute;
  left: 110%;
  top: 25%;
}
.childrenImage {
  width: 18vw;
  height: 45vh;
  border-radius: 2em;
}
.enrolNow {
  margin: 0 4em;
  position: absolute;
  left: 50%;
  top: 80%;
  padding: 0.5em 2em;
  background: linear-gradient(273.26deg, #ffcc66 6.37%, #fd9c5b 98.75%);
  border-radius: 2em;
  border: none;
  font-size: 1.2rem;
}
.iskcon {
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(273.26deg, #ffcc66 6.37%, #fd9c5b 98.75%);
  color: transparent;
  -webkit-background-clip: text;
  font-weight: 900;
}
.deadLine {
  margin: 0 5em;
  position: absolute;
  left: 50%;
  top: 90%;
}
q {
  background: linear-gradient(273.26deg, #ffcc66 6.37%, #fd9c5b 98.75%);
  color: transparent;
  -webkit-background-clip: text;
  font-size: 1.5rem;
}
.proverb {
  position: absolute;
  top: 85%;
  left: 120%;
  width: 30%;
  color: black;
}
