*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Serif Pro', serif;
}
nav{
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul{
    width: 50vw;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: rgb(128, 127, 127);
    font-size: 1.5rem;
}
.logo{
    font-family: 'Open Sans', sans-serif;
    color: rgb(92, 91, 91);
    font-size: 2rem;
    font-weight: bolder;
}