* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Serif Pro", serif;
}
.bg {
  position: absolute;
  left: -50%;
  width: 100vw;
  height: 100vh;
  border-radius: 20em;
  background: linear-gradient(
    214.15deg,
    rgba(249, 192, 78, 0.25) 2.49%,
    rgba(253, 233, 219, 0.25) 99.36%
  );
}
header {
  position: absolute;
  top: 0;
  width: 90vw;
  margin: 0 5em;
}
nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  width: 60vw;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: rgb(128, 127, 127);
  font-size: 1.5rem;
  font-weight: 600;
}
a:hover{
  background: linear-gradient(273.26deg, #ffcc66 6.37%, #fd9c5b 98.75%);
  color: transparent;
  -webkit-background-clip: text;
  border-bottom: 2px solid orange;
}

.logo {
  font-family: "Open Sans", sans-serif;
  color: rgb(92, 91, 91);
  font-size: 2rem;
  font-weight: bolder;
}
.logIn {
  padding: 0.1em 2em;
  border-radius: 2em;
  background: linear-gradient(273.26deg, #ffcc66 6.37%, #fd9c5b 98.75%);
  color: rgb(92, 91, 91);
  font-size: 1.5rem;
  font-weight: 600;
}

.tagLine {
  margin-top: 7%;
  margin-left: 55%;
  font-size: 2.5rem;
}
.under {
  background: linear-gradient(273.26deg, #ffcc66 6.37%, #fd9c5b 98.75%);
  margin-top: 5px;
  height: 3px;
  width: 85px;
}
.tagLine2 {
  margin-left: 55%;
  margin-top: 3%;
  font-family: "Open Sans", sans-serif;
  font-size: 3.5rem;
  font-weight: bolder;
  background: linear-gradient(273.26deg, #ffcc66 6.37%, #fd9c5b 98.75%);
  color: transparent;
  -webkit-background-clip: text;
}
.timePeriod {
  margin-left: 55%;
  margin-top: 3%;
  font-size: 1.4rem;
}
.childrenImageDiv {
  position: absolute;
  left: 110%;
  top: 25%;
}
.childrenbg1 {
  width: 22vw;
  height: 50vh;
  background: rgba(238, 159, 1, 0.2);
  position: absolute;
  left: 108%;
  top: 23%;
  filter: blur(5px);
  border-radius: 2em;
  transform: rotate(60deg);
  /* z-index: 1; */
}
.childrenbg2 {
  width: 22vw;
  height: 50vh;
  background: rgba(238, 159, 1, 0.2);
  position: absolute;
  left: 108%;
  top: 23%;
  filter: blur(5px);
  border-radius: 2em;
  transform: rotate(30deg);
  /* z-index: 2; */
}
.childrenbg3 {
  width: 22w;
  height: 50vh;
  background: rgba(238, 159, 1, 0.2);
  position: absolute;
  left: 108%;
  top: 23%;
  filter: blur(5px);
  border-radius: 2em;
  transform: rotate(10deg);
  /* z-index: 3; */
}
.childrenImage {
  position: absolute;
  width: 18vw;
  height: 45vh;
  border-radius: 2em;

  /* z-index: 4; */
}
.enrolNow {
  margin-left: 55%;
  margin-top: 3%;
  padding: 0.5em 2em;
  background: linear-gradient(273.26deg, #ffcc66 6.37%, #fd9c5b 98.75%);
  border-radius: 2em;
  border: none;
  font-size: 1.2rem;
}
.iskcon {
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(273.26deg, #ffcc66 6.37%, #fd9c5b 98.75%);
  color: transparent;
  -webkit-background-clip: text;
  font-weight: 900;
}
.deadLine {
  margin-left: 55%;
  margin-top: 3%;
}
q {
  background: linear-gradient(273.26deg, #ffcc66 6.37%, #fd9c5b 98.75%);
  color: transparent;
  -webkit-background-clip: text;
  font-size: 1.5rem;
}
.proverb {
  margin-left: 120%;
  margin-top: -5%;
  width: 20%;
}
.quote {
  color: rgb(29, 28, 28);
}
